<div class="px-4 py-5 my-5 text-center">
   <h1 class="display-5 fw-bold">Login</h1>
   <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Introduce tu nombre para iniciar sesión</p>

      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
         <form
            action="http://localhost:9000/auth/facebook"
            method="POST"
            autoComplete="on"
         >
            <button class="btn btn-primary mt-3">Login With Facebook
               <i class="bi-facebook mx-2"></i>
            </button>
         </form>
      </div>
   </div>
</div>