<div class="px-4 py-5 my-5 text-center">
   <h1 class="display-5 fw-bold">Login</h1>
   <div class="col-lg-6 mx-auto">
      <h1 class="text-danger">ERROR</h1>
      <p class="lead">Hubo un error en tu inicio de sesión</p>
   </div>
</div>